
*{
    margin: 0;
}
.backgr{
    background-image: url('images/back.jpg');
    height: 100vh;
    background-size: cover;
}

.input{
    display: block;
    text-align: center;
    font-size: 3rem;
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
}


.heading{
    text-align: center;
    font-size: 6rem;
    margin-bottom: 1rem;
   
    color: rgb(96, 94, 94);
}

.input-box{
    display: flex;
    
    justify-content: center;
    margin-top: 2rem;
}

#city{
    margin-right: 15px;
    background-color: grey;
    border-radius: 8px;
    color: aliceblue;
    height: 30px;
    border: none;
    
}

#btn{
    background-color: rgb(115, 183, 115);
    border-radius: 8px;
    border: none;
}
